<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CardsMapper">
    <cache/>
    <!-- 查询 -->
    <select id="queryCards" parameterType="" resultType="com.model.pojo.Cards">

    </select>
    <!-- 新增 -->
    <insert id="insertCards" parameterType="" useGeneratedKeys="true" keyColumn="" keyProperty="">

    </insert>
    <!-- 修改 -->
    <update id="updateCards" parameterType="">
        update
        <set>
            <if test="">

            </if>

        </set>
        where
    </update>
    <!-- 删除 -->
    <delete id="deleteCards" parameterType="">

    </delete>

</mapper>