<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CheckReportMapper">
    <cache/>
    <!-- 查询 -->
    <select id="queryCheckReport" parameterType="" resultType="com.model.pojo.CheckReport">

    </select>
    <!-- 新增 -->
    <insert id="insertCheckReport" parameterType="" useGeneratedKeys="true" keyColumn="" keyProperty="">

    </insert>
    <!-- 修改 -->
    <update id="updateCheckReport" parameterType="">
        update
        <set>
            <if test="">

            </if>

        </set>
        where
    </update>


</mapper>